body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  font-family: 'Open Sans', sans-serif;
}

input, textarea, button {
    outline: none;
}

button {
    border-radius: 2px;
}

.item-box {
    box-shadow: 2px 2px black;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #777;
    padding: 15px 23px;
    margin: 12px 2px;
}